<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <br>
            <h1>
                Proyecto del curso "Programación WEB"
            </h1>
            <h2>
                Por: Luis Humberto Vázquez Díaz
                
            </h2>
            <h2>Tecnologico Superior Mario Molina campus Arandas</h2>
        </div>
    </header>
</main>